$orange: #ff6838;
$darkBlue: #363853;
$dark: #31352b;
$gray: #c2c2c2;
$silver-100: #f9faff;
$silver-200: #ececec;

%rubik-500 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 400;
}

%rubik-italic-400 {
  font-family: "Rubik-MediumItalic", sans-serif;
  font-weight: 400;
}

%rubik-300 {
  font-family: "Rubik-Light", sans-serif;
  font-weight: 300;
}
