@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 60px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-right: 516px;
  border-radius: 5px;
  padding: 7px 2px 2px;
  transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;
  &:focus {
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
}

.menu {
  display: flex;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item:not(:last-child) {
    margin-right: 44px;
  }
  &__link {
    color: $dark;
    font-size: 18px;
    border-radius: 5px;
    transition: color 0.5s, text-shadow 0.5s, border-radius 0.5s;
    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
    &:hover {
      color: $orange;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }
  }
  &__link--active {
    color: $orange;
  }
}

.user-nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.5s, box-shadow 0.5s, border-radius 0.5s;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, box-shadow 0.5s, border-radius 0.5s;
  }

  &__link:focus {
    background: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &__link:hover span {
    background-color: #fff;
    color: #ff7a50;
  }
  &__link:active span {
    color: #fff;
    background-color: #ff7a50;
  }
  &__link:hover {
    background-color: #ff7a50;
    path {
      stroke: #fff;
    }
    ellipse {
      stroke: #fff;
    }
  }
  &__link:active {
    background-color: #fff2ed;
    path {
      stroke: #000;
    }
    ellipse {
      stroke: #000;
    }
  }
  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange;
    transform: translateX(-50%);
    top: 7px;
    right: -2px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 14px;
  }
}

.footer-top {
  padding-bottom: 60px;
  border-bottom: 1px solid $gray;
  &__logo {
    margin-right: 0;
    display: block;
    margin-bottom: 30px;
  }
  &__items-list {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    margin-right: 70px;
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__item {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__subscribe {
    margin-right: 70px;
  }
  &__form-input {
    margin-bottom: 12px;
    max-width: 200px;
    height: 44px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    transition: border-radius 0.5s, box-shadow 0.5s, background-color 0.5s,
      opacity 0.5s;
  }
  &__form-input::placeholder {
    padding: 13px 15px;
    display: block;
    font-size: 14px;
    line-height: 130%;
    color: $gray;
  }
  &__form-input:hover::placeholder {
    color: $darkBlue;
    opacity: 0.9;
  }
  &__form-input:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px $orange;
  }
  &__form-btn {
    background-color: $orange;
    color: #fff;
    @extend %rubik-500;
    font-size: 14px;
    line-height: 1.3;
    padding: 13px 38px 13px 68px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s,
      border-radius 0.5s, fill 0.5s;
  }
  &__form-btn #telegram {
    transition: fill 0.5s;
  }
  &__form-btn:focus #telegram,
  &__form-btn:hover #telegram,
  &__form-btn:active #telegram {
    fill: $orange;
  }
  &__form-btn:hover {
    color: $orange;
    background-color: #ffffff;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &__form-btn:focus {
    color: $orange;
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &__form-btn:active {
    background-color: #fff2ed;
  }

  & a {
    display: block;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  &__item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
    position: relative;
    padding-left: 34px;
  }
  &__item::before {
    content: "";
    top: 0;
    left: 7px;
    width: 15px;
    height: 18px;
    position: absolute;
    @extend %bg_images;
  }
  &__item-location::before {
    background-image: url("../images/icons/location.svg");
  }
  &__item-phone::before {
    width: 19px;
    height: 19px;
    background-image: url("../images/icons/calling.svg");
  }
  &__item-email::before {
    width: 20px;
    background-image: url("../images/icons/message.svg");
  }
  &__social-list {
    display: flex;
  }
  &__social-item:not(:last-child) {
    margin-right: 13px;
  }
  &__social-link .social,
  &__social-link .social-radius,
  &__social-link .social-path {
    border-radius: 50%;
    transition: fill 0.5s, box-shadow 0.5s, border-radius 0.5s;
  }
  &__social-link:focus .social,
  &__social-link:focus .social-radius {
    fill: #fff2ed;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &__social-link:hover .social {
    fill: #ff7a50;
  }
  &__social-link:hover .social-path {
    fill: #fff;
  }
  &__social-link:active .social-path {
    fill: #ff7a50;
  }
  &__social-link:active .social {
    fill: #fff2ed;
    box-shadow: 0 0 0 0 transparent;
  }
}

.footer-bottom {
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  line-height: 1;
}

.review-slider {
  padding: 0 90px;
  &__inner {
    text-align: center;
  }
  &__item {
    margin-bottom: 48px;
  }
  &__title {
    @extend %rubik-500;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 45px;
  }
  &__foto {
    border-radius: 50%;
    margin-right: 40px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__review {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px;
  }
  &__name {
    @extend %rubik-500;
    font-size: 20px;
    line-height: 1.3;
    color: $orange;
    display: block;
    margin-bottom: 15px;
  }
  &__desc {
    font-size: 14px;
    line-height: 1.3;
    color: $dark;
  }
  &__text {
    position: relative;
    @extend %rubik-italic-400;
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    text-align: left;
    margin-bottom: 30px;
    &::before {
      content: "";
      top: 0;
      left: -40px;
      width: 24px;
      height: 20px;
      position: absolute;
      background-image: url("../images/icons/leftquote.svg");
    }
    &::after {
      content: "";
      bottom: 0;
      right: -40px;
      width: 24px;
      height: 20px;
      position: absolute;
      background-image: url("../images/icons/rightquote.svg");
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 445px;
    bottom: -9px;
    li {
      padding: 0 15px 0 0;
      button {
        padding: 0;
        font-size: 0;
        border-radius: 50%;
        background-color: $gray;
        width: 15px;
        height: 15px;
        transition: background-color 0.5s, box-shadow 0.5s;
        &:focus {
          background-color: $gray;
          box-shadow: 0 0 0 2px $orange;
        }
        &:hover {
          background-color: #fff2ed;
          box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
        }
        &:active {
          background-color: #ffae94;
        }
      }
      &.slick-active {
        button {
          background-color: $orange;
        }
      }
    }
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    border-radius: 50%;
    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }
    &:hover {
      background-color: #fff2ed;
    }
  }
  .slick-prev {
    left: 390px;
  }
  .slick-next {
    left: 565px;
  }
}

.home {
  margin-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    max-width: 450px;
  }
  &__title {
    @extend %rubik-500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
    &--span {
      display: block;
      color: $orange;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    margin-bottom: 20px;
  }
  &__link {
    margin-right: 34px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    padding: 12px 32px;
    background-color: $orange;
    border-radius: 6px;
    color: #ffffff;
    transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
    &:hover {
      color: $orange;
      background-color: #ffffff;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }
    &:focus {
      color: $orange;
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }
    &:active {
      background-color: #fff2ed;
    }
  }
  &__more {
    line-height: 1.5;
    text-decoration: underline;
    border-radius: 5px;
    transition: color 0.5s, box-shadow 0.5s, background-color 0.5s,
      border-radius 0.5s, text-decoration-color 0.5s, text-shadow 0.5s;
    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
    }
    &:hover {
      color: $orange;
      text-decoration-color: transparent;
    }
    &:active {
      color: $darkBlue;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
  }
  &__picture {
    max-width: 560px;
    @extend %bg_images;
  }
}

.categories {
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend %rubik-500;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 60px;
  }
  &__nav {
    margin-bottom: 45px;
  }
  &__list {
    display: flex;
    &-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 32px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px $silver-200;
    border-radius: 5px;
    line-height: 1.3;
    height: 70px;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
    path {
      transition: fill 0.5s;
    }
    &--active {
      background-color: $orange;
      color: #ffffff;
      &:focus {
        color: $darkBlue;
        path {
          fill: $darkBlue;
        }
        ellipse {
          fill: $darkBlue;
        }
      }
    }
    &-icon {
      transform: translateX(-10px);
    }
    &:focus {
      background-color: #ffffff;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }
    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $orange;
      path {
        fill: $orange;
      }
      ellipse {
        fill: $orange;
      }
    }
    &:active {
      background-color: #ffffff;
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
    }
  }
  &__content {
    text-align: center;
  }
  &__items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 60px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px $silver-200;
    border-radius: 5px;
    padding: 20px 35px;
    transition: background-color 0.5s, box-shadow 0.5s;
    &:hover {
      background-color: #ffffff;
      box-shadow: 0 0 0 1px #ff6838;
    }
    // &-content:not(:last-child) {
    //   margin-bottom: 10px;
    // }
    &-img {
      @extend %bg_images;
    }
    &-desc {
      font-size: 15px;
      line-height: 18px;
      color: $dark;
    }
    &-price {
      @extend %rubik-500;
      font-size: 15px;
    }
    &-btn {
      padding: 7px 16px;
      border-radius: 6px;
      background-color: $orange;
      color: #ffffff;
      font-size: 14px;
      line-height: 1.3;
      transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
      &:hover {
        color: $orange;
        background-color: #ffffff;
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      }
      &:focus {
        color: $orange;
        background-color: rgba(255, 122, 80, 0.1);
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      }
      &:active {
        background-color: #fff2ed;
      }
    }
  }
  &__more {
    text-align: center;
    line-height: 1.5;
    border-radius: 5px;
    text-decoration: underline;
    transition: color 0.5s, box-shadow 0.5s, background-color 0.5s,
      border-radius 0.5s, text-decoration-color 0.5s, text-shadow 0.5s;
    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
    }
    &:hover {
      color: $orange;
      text-decoration-color: transparent;
    }
    &:active {
      color: $darkBlue;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
  }
}

@import "media";
